<!--
  Canada Foxes - Deven Maheshwari, Emma Buller, Lucas Lee, Naomi Naranjo
  SoftDev
  P01 - ArRESTed Development
  2022-01-04
-->

<html>

<head>
    <meta charset="utf-8">
    <title>Musical Movies</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/foundation.css">

</head>

<body>

    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Musical Movies</li>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li>
                    <a href="{{ url_for('search') }}">Search For Movies</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="grid-x grid-padding-x">
        <div class="cell text-center ">
            <h1 class="text-center">Service Unavailable Currently</h1>
            <br>
            <h4 class="text-center">Try again tomorrow</h1>
        </div>
    </div>
    <img src="https://64.media.tumblr.com/42d1da82d3739e574b486ec92cd2236c/tumblr_p7ag2ossXW1t1ig6no1_400.gifv", alt="Dancing Fox"/>

    <div class="footer">
        <footer>Copyright &copy; 2022 Canadafoxes</footer>
    </div>

    <!-- Compressed JavaScript -->
</body>

</html>
