<!--
  Canada Foxes - Deven Maheshwari, Emma Buller, Lucas Lee, Naomi Naranjo
  SoftDev
  P01 - ArRESTed Development
  2022-01-04
-->

<html>

<head>
    <meta charset="utf-8">
    <title>Musical Movies</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/foundation.css">
</head>

<body>

    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Musical Movies</li>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li>
                    <a href="{{ url_for('search') }}">Search For Movies</a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">

            <ul class="dropdown menu" data-dropdown-menu>
                {%if user %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {%else%}
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                {%endif%}
            </ul>

        </div>
    </div>

    <div class="grid-x grid-padding-x">
        <div class="cell text-center ">
            <h1 class="text-center">Welcome to Musical Movies!</h1>
            <h5 class="text-center">By Canadafoxes</h5>
            <img src="static/fox.jpg" style="height: 400px">
        </div>
        <div class="cell large-4">
            <h2>Roster</h2>
            <ul>
                <li>Deven - PM; Backend routing, python</li>
                <li>Emma - IMDB and Movie Review API Backend, Frontend HTML</li>
                <li>Lucas - Spotify API Backend, Frontend CSS</li>
                <li>Naomi - Database management</li>
            </ul>
        </div>
        <div class="cell large-8">
            <h2>Description</h2>
            <p>
                A website where users can enter and store searches on a movie title, showing information about the movie’s production/cast and critic reviews about the movie, based on Imdb and New York Times reviews). Generates 5 recommendations for songs based on the soundtrack album/artist using Spotify. Stores each movie search and subsequent suggestions for each user profile.
            </p>

            <p>
                Login or register to get started with MusicalMovies!
            </p>
        </div>

    </div>

    <div class="footer">
        <footer>Copyright &copy; 2022 Canadafoxes</footer>
    </div>

    <!-- Compressed JavaScript -->
</body>

</html>
