<!--
  Canada Foxes - Deven Maheshwari, Emma Buller, Lucas Lee, Naomi Naranjo
  SoftDev
  P01 - ArRESTed Development
  2022-01-04
-->

<!DOCTYPE html>
<html>

<head>
    <title>Musical Movies</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/foundation.css">

</head>

<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Musical Movies</li>
                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li>
                    <a href="{{ url_for('search') }}">Search For Movies</a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
        </div>
    </div>

    <div class="grid-x grid-padding-x">
        <div class="cell">
            <h1 class="text-center">Select a Movie</h1>
        </div>
    </div>

    <div class="grid-x grid-padding-x">
        {%for num in range(0,length)%}
        <div class="cell large-3 medium-4">
            <div class="card" style="width: 300px;">
                <a href="/results/{{movies['results'][num]['id']}}">
                    <div class="card-divider">
                        <h5>{{movies['results'][num]['title']}}</h5>
                    </div>
                </a>
                <img src="{{movies['results'][num]['image']}}">
                <div class="card-section">
                    <p>{{plots[num]}}</p>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>

</body>

</html>
